.container {
    margin: 0 auto;
    border-bottom: 1px solid black;
    /*max-width: 1280px;*/
    /*width: 100%;*/
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.activeLink {
    font-weight: bold;
}

.loginContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}
